.vscode

.ddev/*
!.ddev/config.yaml
!.ddev/docker-compose.communicate.yaml
.ddev/addon-metadata/
.ddev/docker-compose.phpmyadmin.yaml
.ddev/docker-compose.phpmyadmin_norouter.yaml
.ddev/traefik/

wp-content/autoptimize_404_handler.php
wp-content/breeze-config
wp-content/cache/
wp-content/mc_data
wp-content/plugins/hello.php
wp-content/wflogs
wp-content/plugins/object-cache-pro/

wp-content/mu-plugins/redis-cache-pro
wp-content/mu-plugins/redis-cache-pro.php
wp-content/object-cache.php
wp-content/wp-rocket-config/
advanced-cache.php
.htpasswd

.idea

node_modules/
wp-content/uploads/
.htaccess
wp-config-ddev.php

.DS_Store
.myaliases

*.css.map
*.log
*.sql
#*.sql.gz
*.sqlite
.history

wp-config.php
wp-config-ddev  .php
wp-config-local.php
malcare-waf.php
ENV.php