@theme {
    --breakpoint-xs: 480px;
    --breakpoint-sm: 600px;
    --breakpoint-md: 782px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;
    --breakpoint-2_25xl: 1560px;
    --breakpoint-2_5xl: 1800px;

    --color-primary: var(--nds-color-primary, var(--wp--preset--color--primary));
    --color-secondary: var(--nds-color-secondary, var(--wp--preset--color--secondary));
    --color-trinary: var(--nds-color-trinary, var(--wp--preset--color--trinary));
    --color-dark: var(--wp--preset--color--dark);
    --color-light: var(--wp--preset--color--light);
    --color-system-base: var(--nds-color-base);
    --color-system-accent: #21272A;
    /*--font-proxima-nova-condensed: var(--wp--preset--font-family--proxima-nova-condensed, 'Proxima Nova Cond', sans-serif);*/
    --font-primary: var(--wp--preset--font-family--em-one), 'Em One';
    --font-secondary: var(--wp--preset--font-family--raleway), 'Raleway';

    --text-xs: var(--wp--preset--font-size--xs);
    --text-sm: var(--wp--preset--font-size--sm);
    --text-base: var(--wp--preset--font-size--base);
    --text-md: var(--wp--preset--font-size--md);
    --text-1md: var(--wp--preset--font-size--md-1);
    --text-2md: var(--wp--preset--font-size--md-2);
    --text-lg: var(--wp--preset--font-size--lg);
    --text-2xl: var(--wp--preset--font-size--2-xl);
    --text-3xl: var(--wp--preset--font-size--3-xl);

    --spacing-30: 1.875rem;
}

@media (max-width: 781px) {
    :root {
        --wp--preset--font-size--lg: 1.875rem;
        --wp--preset--font-size--3-xl: 2.5rem;
    }
}