.testimonial-carousel-list--editor {
    --inline-spacing: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--inline-spacing) * -1);
}

.testimonial-carousel-list--editor > * {
    flex: 0 0 50%;
    max-width: 50%;
    padding-inline: var(--inline-spacing);
}